* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

/* Style the header */
.header {
    grid-area: header;
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header'
    'left middle right'
    'footer footer footer';
    grid-column-gap: 10px; /*-if you want gap between the columns*/
}

.left,
.middle,
.right {
    padding: 10px;
}

/* Style the left column */
.left {
    grid-area: left;
}

/* Style the middle column */
.middle {
    grid-area: middle;
}

/* Style the right column */
.right {
    grid-area: right;
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas:
      'header    header header'
      'left    middle middle right'
      'footer    footer footer';
    }
}

.span_header {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.article {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 16px !important;
    color: #000 !important;
    background-color: #fff !important;
}

.article_img {
    width: 100%;
}

.article_container {
    padding: 0.01em 16px;
}

.about-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 16px !important;
}

.about-card-content {
    margin: 16px !important;
    padding: 0.01em 16px;
}

.popular-post {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 16px !important;
    padding: 8px 16px !important;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    
}

.li:hover {
    background-color: #b3b3b3;
}

.li-img {
    float: left !important;
    margin-right: 16px !important;
    width: 50px;
}

